<!DOCTYPE html>
<html lang="en">
  <%- include('../commons/head') -%>
  <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <%- include('../commons/leftnavbar') -%>
    
    <!-- Right navbar links -->
    <%- include('../commons/rightnavbar')%>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Halaman <%= title %></span>
    </a>

    <!-- Sidebar -->
    <%- include('../commons/sidebarmenu') -%>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div>
                  <button class="btn buttontoggler" mydata="0">ID</button>
                  <button class="btn buttontoggler" mydata="1">Kd Ticket</button>
                  <button class="btn buttontoggler" mydata="2">ID Partner</button>
                  <button class="btn buttontoggler" mydata="3">Nama Partner</button>
                  <button class="btn buttontoggler" mydata="4">ID Lokasi</button>
                  <button class="btn buttontoggler" mydata="5">Keluhan</button>
                  <button class="btn buttontoggler" mydata="6">Start</button>
                  <button class="btn buttontoggler" mydata="7">End</button>
                  <button class="btn buttontoggler" mydata="8">Durasi</button>
                  <button class="btn buttontoggler" mydata="9">Pelapor</button>
                  <button class="btn buttontoggler" mydata="10">Telp</button>
                  <button class="btn buttontoggler" mydata="11">Aksi</button>
                </div>
                <table id="tObj" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th >Kd Ticket</th>
                    <th >Client ID</th>
                    <th >Nama</th>
                    <th >ID Lokasi</th>
                    <th >Keluhan</th>
                    <th >Start</th>
                    <th >End</th>
                    <th >Durasi</th>
                    <th >Pelapor</th>
                    <th >Telp</th>
                    <th >Aksi</th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%-include('../commons/footer')%>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include('addTicket') -%>
<%- include('addFollowup') -%>
<%- include('editTicket') -%>
<%- include('../custompages/confirmation') -%>
<!-- jQuery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/plugins/select2/js/select2.full.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/jszip/jszip.min.js"></script>
<script src="/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/assets/plugins/moment/moment.min.js"></script>
<script src="/assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/dist/js/demo.js"></script>
<script src="/assets/app/common.js"></script>
<!-- Page specific script -->
<script src="js/libs/dates.js?v=2"></script>
<script src="js/masters/tickets.js?v=2"></script>
<script>
  subrut = _=>{
    $('#ssubrootcause').select2({
    ajax:{
      url:'/causeselect2',
      type:'post',
      data:function(params){
        var query = {
          category_id:$('#smainrootcause').val(),
          search:params.hasOwnProperty('term')?params.term:' ',type:'public'
        }
        console.log('smainroot',query)
        return query
      },
      dataType:'json',
      processResults:function(data){
        console.log('Preso reult',data)
        return data
      }
    }
  })

  }
  $('#smainrootcause').select2({
    ajax:{
      url:'/causecategoryselect2',
      type:'post',
      data:function(params){
        var query = {
          search:params.hasOwnProperty('term')?params.term:' ',type:'public'
        }
        console.log('smainroot',query)
        return query
      },
      dataType:'json',
      processResults:function(data){
        console.log('Preso reult',data)
        return data
      }
    }
  })
  $('#smainrootcause').change(function(){
    $('#ssubrootcause').select2('destroy')
    subrut()
  })
  subrut()
</script>
<script>
    $('.partnerselect2').select2({
    ajax:{
      url:'/partnerselect2',
      type:'post',
      data:function(params){
          var query = {
            kecamatan_id:'',
            search:params.hasOwnProperty('term')?params.term:' ',type:'public'
          }
          console.log('edit ZUERY',query)
          return query
        },dataType:'json',
      processResults:function(data){
        console.log("Process result",data)
        return data
      }
      }
    })
    
  $('#partner').change(function(){
    partner_id = $(this).val()
    $('#location').text("")
    console.log('PARTNER_ID',partner_id)
    $('#location').select2('destroy')
    $('#location').select2({
      ajax:{
        url:'/locationbypartnerselect2',
        type:'post',
        data:function(params){
          var query = {
            partner_id:partner_id,
            search:params.hasOwnProperty('term')?params.term:' ',type:'public'
          }
          console.log('Query',query)
          return query
        },dataType:'json',
        processResults:function(data){
          return data
        }
      }      
    })
  })
  $('#ticketdatestart').datetimepicker({
    icons: { time: 'far fa-clock' }
  })
  $('#followupdate').datetimepicker({
    icons: {time:'far fa-clock'}
  })
  $('#followupdate').datetimepicker({
    icons: {time:'far fa-clock'}
  })
  $('#location').select2({
    ajax:{
      url:'/locationbypartnerselect2',
      type:'post',
      data:function(params){
        var query = {
          partner_id:$('#partner').val(),//5333,
          search:params.hasOwnProperty('term')?params.term:' ',type:'public'
        }
        console.log('Query',query)
        return query
      },dataType:'json',
      processResults:function(data){
        return data
      }
    }      
  })
  $('#cause').select2({
    ajax:{
      url:'/causecategoryselect2',
      type:'post',
      data:function(params){
        var query = {
          search:params.hasOwnProperty('term')?params.term:' ',type:'public'
        }
        console.log('cause query',query)
        return query
      },
      dataType:'json',
      processResults:function(data){
        console.log("Process result",data)
        return data
      }
    }
  })
  populateSubcause = _ => {
    $('#subcause').select2({
    ajax:{
      url:'/causeselect2',
      type:'post',
      data:function(params){
        var query = {
          category_id:$('#cause').val(),
          search:params.hasOwnProperty('term')?params.term:' ',type:'public'
        }
        console.log('cause query',query)
        return query
      },
      dataType:'json',
      processResults:function(data){
        console.log("Process result",data)
        return data
      }
    }
  })
  }
  $('#cause').change(function(){
    $('#subcause').select2('destroy')
    $('#subcause').text('')
    populateSubcause()
  })
  populateSubcause()
</script>
<script>
  saveFU = obj => {
  $.ajax({
      url:'/savefollowup',
      type:'post',
      data:{
        followUpDate:obj.ticketdate,cause_id:$('#ssubrootcause').val(),ticket_id:id
      },
      dataType:'json'
    })
    .done(res=>{
      console.log('Success save Followup',res)
    })
    .fail(err=>{
      console.log('Success save Followup',err)
    })
}
  $('#tObj').on('click','tbody tr .btnFollowUp',function(){
    $('#tObj tbody tr').removeClass('selected')
    tr = $(this).stairUp({level:4})
    id = tr.find('.trid').text()
    console.log('trid',id)
    tr.addClass('selected')
  })
  $('#btnSaveFollowup').click(function(){
    id = $('#tObj tbody tr.selected').find('.trid').text()
    getInputDate({ticketstart : $('#followupdate input').val() },ticketdate=>{
      console.log('simpan ticket dengan tanggal start ticket',ticketdate)
      saveFU({ticketdate:ticketdate})
    })

  })
</script>
<script>
  x = new Date(2023,7,2)
  console.log('Date',x.getDate())
  console.log('Day',x.getDay())
  console.log('Month',x.getMonth())
  console.log('Year',x.getFullYear())
  y = new Date(2023,7,3)
  console.log('Date',y.getDate())
  console.log('Day',y.getDay())
  console.log('Month',y.getMonth())
  console.log('Year',y.getFullYear())
  z = y - x
  console.log('Total time',z)
</script>
</body>
</html>
